apiVersion: v1
kind: Service
metadata:
  name: example-service-apiserver
spec:
  type: ClusterIP
  ports:
  - name: https
    port: 443
    targetPort: 8443
    protocol: TCP
  selector:
    app: example-service-apiserver
