# TEMPLATE NOTE: This is an example of integrating with Milo IAM
# Milo provides IAM capabilities for Kubernetes APIs
# See https://github.com/datum-cloud/milo for more information
#
# This ProtectedResource grants permissions for ExampleResource objects
apiVersion: iam.miloapis.com/v1alpha1
kind: ProtectedResource
metadata:
  name: example.example-org.io-exampleresources
spec:
  serviceRef:
    name: "example.example-org.io"
  kind: ExampleResource
  plural: exampleresources
  singular: exampleresource
  permissions:
    - create
    - get
    - list
    - update
    - delete
  parentResources:
    - apiGroup: resourcemanager.miloapis.com
      kind: Organization
    - apiGroup: resourcemanager.miloapis.com
      kind: Project
    - apiGroup: iam.miloapis.com
      kind: User
