apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - configmap.yaml

patches:
  - path: deployment-patch.yaml
    target:
      kind: Deployment
      name: example-service-apiserver
