name: "Execute Golang Tests"
on:
  push:

jobs:
  execute-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Install dependencies
        run: go mod download
      - name: Execute golang tests
        run: go test -timeout 5m ./...
